body {
  display: flow;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 5%;
  max-width: 500px;
  background: #302939;
}

h2 {
  text-align: center;
  font-size: 35px;
  color: #ffd8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-bottom: -40%;
}

h3{
  text-align: center;
  font-size: 35px;
  color: #ffd8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.identification{
  margin-top: 50%;
  margin-left: -2.5%;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 87.5%;
  padding: 20px;

  font-size: 26px;
  background: #e99b9b;
  border: #50595c 8px solid;
  border-radius: 50px;
  gap: 10px;
}

.login{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e99b9b;
  border: #50595c 3px groove;
  padding: 10px;
  border-radius: 20px;
  gap: 10px;
}

.auth{
  background: none;
  color: #302939;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 22px;
}
.userId {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  background: #e99b9b;
  font-size: 22px;
  color: #302939;
  border: 3px solid #50595c;
  border-radius: 50px;
}

.userId:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e99b9b inset !important;
  -webkit-text-fill-color: black !important; /* Set your desired text color */
}

/* Cards */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.exercise-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.weight-input {
  width: 100px;
  padding: 10px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

/* Nav */
.navbar {
  background-color: #ffb6b9;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 17px 30px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ffd8d8;
  color: black;
}

/* Add a green background color to the active link */
.navbar a.active {
  background-color: #50595c;
  color: #ffd8d8;
}


/* Chart */
canvas {
  background: white;
  border-radius: 12px;
  padding: 10px;
}